@charset "UTF-8";
/*
 0 - 600px  phone
 600-900ox  tablet portrait
 900-1200px tabllet landscape
[1200 - 1800px] normal desktop 

 1800px + big desktop 
 
 */
/*break points
 -phone
 -tab-port
 -tab-land
 -big-desktop

 1em = 16px
 as media queries are very usable with em instaed of rem as some browsers fails on rem 

 */
@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movebutton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    /*if we have to move down we have to use positive value */ }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*Animation for moving logo*/
@keyframes movelogo {
  0% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*forcing inherit */ }

html {
  font-size: 62.5%;
  /*we can calculate accoring to our need simply dividing the value with 16*/
  /* @include  respond(phone){
        font-size: 50%;
    }*/ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0rem; } }

.test {
  background-color: grayk;
  font-family: sans-serif; }

body {
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-iteration-count: 2;
        animation-delay: 2s;*/ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveright 1s ease-out;
    /*animation short hand property*/ }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #63e9deda, #4195a0);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewy(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  color: #5e5e5e;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 12rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  opacity: .20;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn {
  /*hover property */
  /*Afetr property */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    /* transition property in short hand */
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem ​ #000000, 0.2; }
    .btn:hover::after {
      transform: scalex(1.4) scaleY(1.6);
      opacity: 0;
      /* for fadding out*/ }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem ​ #000000, 0.2; }
  .btn--white {
    background-color: white;
    color: gray; }
    .btn--white::after {
      background-color: white; }
  .btn--green {
    background-color: #4195a0;
    color: white; }
    .btn--green::after {
      background-color: #4195a0; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: movebutton .5s ease-out .75s;
    animation-fill-mode: backwards;
    /* need to animated according to animation*/ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: Skyblue;
  padding: 2rem;
  border-bottom: 1px solid Skyblue;
  transition: all .2s; }

.btn-text:hover {
  background-color: Skyblue;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 60rem; }
  .card__side {
    font-size: 4rem;
    height: 60rem;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.18);
    overflow: hidden; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #fcb045, #fd1d1d); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #63e9deda, #4195a0); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #a8e063, #56ab2f); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #fcb045, #fd1d1d), url(/images/tv.jpg);
      height: 20rem; }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #63e9deda, #4195a0), url(/images/snow.jpg);
      height: 20rem; }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #a8e063, #56ab2f), url(/images/hike.jpg);
      height: 20rem; }
  .card__heading {
    font: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 8rem;
    right: 2rem;
    text-align: right;
    width: 100%; }
  .card__heading_span {
    padding: 1.2rem 1.5rem;
    color: white;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading_span--1 {
      background-image: linear-gradient(to right bottom, #fcb045, #fd1d1d); }
    .card__heading_span--2 {
      background-image: linear-gradient(to right bottom, #63e9deda, #4195a0); }
    .card__heading_span--3 {
      background-image: linear-gradient(to right bottom, #a8e063, #56ab2f); }
  .card__details ul {
    list-style: none;
    width: 80%;
    padding: 5rem;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 2rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid grey; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: white;
    text-align: center;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: lighter; }

@media (max-width: 56.25em) {
  __side {
    height: auto;
    position: relative;
    border-radius: 3px; }
    __side--back {
      transform: rotateY(0); }
  :hover _side--front {
    transform: rotateY(0); }
  __cta {
    position: relative;
    transform: translate(0);
    width: 100%;
    padding: 4rem; }
  __price-box {
    margin-bottom: 8rem; }
  __price-value {
    font-size: 6rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1rem 4rem black;
    border-radius: 2px;
    position: absolute;
    z-index: 50;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333333%;
        box-shadow: 0 1rem 3rem black; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 90; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid Skyblue;
      transform: scale(1.04) translateY(-0.5rem);
      z-index: 60;
      box-shadow: 0 2rem 5rem black; }
    .composition__photo.hover .composition__photo__photo:not(:hover) {
      transform: scale(1); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.18);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #63e9deda, #4195a0);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translatey(-1.5rem) scale(1.02); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid Skyblue; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #fd1d1d; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 50%;
  float: left;
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2px; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 5px solid Skyblue;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: Skyblue;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  backdrop-filter: blur(10px); }
  .popup__content {
    width: 75%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transition: all .4s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #999;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: Skyblue; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    backface-visibility: hidden;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-2rem) scale(1.4);
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    font-size: 1.7rem;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-2rem) scale(1);
    filter: blur(3px) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #5e5e5e;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #4195a0;
    font-size: 1.6rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 25rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid lightgray;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.6rem; }
  .footer__link:link, .footer__link:visited {
    color: lightgray;
    background-color: #5e5e5e;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #4195a0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid lightgray;
    padding-top: 2rem;
    color: lightgray;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(99, 233, 222, 0.8), rgba(65, 149, 160, 0.8)), url(/images/main2.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0 100%);
  position: relative;
  /* this is the parent class of logo*/
  /*logo code */ }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    /* this is the child  class of header*/
    top: 5rem;
    left: 5rem; }
  .header__logo {
    padding-top: 1rem;
    height: 10rem;
    animation: movelogo 2s; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* adjusted the main page text*/
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  top: 6rem;
  right: 6rem;
  position: fixed;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(Skyblue, #4195a0);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: Skyblue;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: #5e5e5e;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .7rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7e1;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(99, 233, 222, 0.8), rgba(65, 149, 160, 0.8)), url(/images/la.jpg);
  background-size: cover;
  transform: skewy(-7deg);
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-features {
      height: auto;
      padding: 10rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7e1;
  padding: 25rem 0;
  margin-top: -15rem; }
  .section-tours-card {
    background-color: orangered; }

.section-tours {
  background-color: #f7f7f7e1;
  padding: 25rem 0 50rem 0; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 45rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-booking {
  padding: 15rem  0;
  background-image: linear-gradient(to right bottom, #63e9deda, #4195a0); }
  @media (max-width: 56.25em) {
    .section-booking {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/images/23.jpg);
  background-size: 100%;
  border-radius: 6px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(/images/23.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 65%), url(/images/23.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
